<!DOCTYPE html>
<html lang="en">

<head th:replace="Layouts/Fragmentos :: head">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul th:replace="Layouts/Fragmentos :: ul">  
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-secondary topbar mb-4 static-top shadow">
                </nav>
                <!-- End of Topbar -->
                <div class="container">
                <div class="card">
                    <div class="card-header bg-warning text-dark fs-2" th:text="${carnet.usuarios.nombres}">Prueba</div>
                    <div class="card-body bg-dark text-light ">
                    <div class="row">
                        <div class="col-4">
                            <p class="color-white" th:text="'Apellidos: '+${carnet.usuarios.apellidos}" ></p>
                            <p th:text="'Documento de Identidad: '+ ${carnet.di}">Documentos de Identidad:</p>
                            <p th:text="'Fecha de Emision: '+ ${carnet.fecha}">Fecha:</p>
                            <img class="col-12 mt-5 "th:src="@{/img/logo.jpg}" alt="">
                        </div>
                    
                        <div class="col-4">
                            <p>Validez: 1 año</p>
                            <p>Sede: Los Olivos</p>
                            <p th:text="'Puesto: '+ ${carnet.usuarios.rol}" >Puesto: </p>
                        </div>
                            <img class="col-4 " th:src="@{/img/usuario.png}" alt="">
                        
                  </div>
                </div>






                </div>
            </div>
            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer th:replace="Layouts/Fragmentos :: footer" class="sticky-footer bg-warning">
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
        <div th:replace="Layouts/Fragmentos :: scrip">
    </div>
</body>
</html>